.ReactCrop__crop-selection::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #ededed;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 33.33% 33.33%;
  z-index: 2;
  pointer-events: none;
}

.ReactCrop__crop-selection::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
  z-index: 3;
  pointer-events: none;
}
.ReactCrop__drag-handle {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #ededed;
}
